/* Box-sizing to be border box, makes working with widths; paddings; margins easier. 

   Box-sizing property allows you to include padding and border in an element's total width and height*/


* {
    box-sizing: border-box;
}


/* 100VH represent 100% of the viewport's height, or the full height of the screen */

@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);

body {
    font: 700 2.2em "News Cycle", sans-serif;
    letter-spacing:.20em;
    color: #ff6;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    margin: 0;
}

.star {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: white;
}

/* Max-width 90% of screen sixe so it never expands too far past the edge */
.container {
    width: 700px;
    padding: 1rem;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#start-btn {
    width: 250px;
    height: 70px;
    color: #ff6;
    background-color: black;
    border: solid 5.5px;
    border-radius: 40px;
    font-size: 1em;
    align-items: center;
    cursor: pointer;
}

.hidden {
    display: none;
}